services:
  postgresql:
    image: postgres:18.1
    container_name: database
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_NAME=${POSTGRES_NAME}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - database_data:/var/lib/postgresql/
    restart: always
    networks:
      - app_network

  api:
    build: .
    container_name: api
    depends_on:
      - postgresql
    restart: always
    ports:
      - ${API_PORT}:${API_PORT}
    networks:
      - app_network

volumes:
  database_data:

networks:
  app_network: