services:
  postgresql:
    image: postgres:18.1
    container_name: database
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_NAME=${POSTGRES_NAME}
    ports:
      - ${PORT}:${PORT}
    volumes:
      - database_data:/var/lib/postgresql/
    command: alembic revision --autogenerate -m "make all tables" && alembic upgrade head
    restart: always
    networks:
      - app_network

  bot:
    build: .
    container_name: bot
    depends_on:
      - api
    restart: always
    networks:
      - app_network

  api:
    build: .
    container_name: api
    depends_on:
      - postgresql
    restart: always
    ports:
      - "8000:8000"
    networks:
      - app_network

volumes:
  database_data:

networks:
  app_network: